 /* Style untuk header, footer, dan navigasi */
 header, footer, nav {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
  }

  /* Style untuk konten artikel */
  main {
    margin: 20px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  li, a {
    color: #ffffff;
}