.flex-primary{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.head-cont{
    font-size: 24px;
    width: auto;
    height: auto;
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #75ff00;
    width: 800px;
    height: 1000px;
    padding: 10px;
    gap: 15px;
    border: 3px solid black;
    border-radius: 15px;
}

.flex-container div{
    display: flex;
    justify-content: center ;
    align-items: center;
}

.flex-head{
    width: 100%;
    height: 19%;
}

.sub-cont1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 15px;
}

.sub-cont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 15%;
    gap: 15px;
}

.sub-cont3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 15px;
}

.sub-cont4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 15px;
}

.sub-cont5{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    gap: 15px;
}

.sub-cont6{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 75%;
    gap: 15px;
}

.sub-cont7{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 15px;
}

.sub-cont8{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 15px;
}

.sub-cont9{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.sub-cont10{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 77%;
    height: 100%;
    gap: 15px;
}

.sub-cont11{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 23%;
    height: 100%;
    gap: 15px;
}

.sub-cont12{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.flex-item{
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.flex-box1{
    width: 100%;
    height:100%;
    background-color: rgb(155, 220, 155);
}

.flex-box2{
    width: 100%;
    height: 100%;
    background-color: #1e81b0;
}

.flex-box3{
    width: 100%;
    height: 100%;
    background-color: #a2dce1;
}

.flex-box4{
    width: 100%;
    height: 100%;
    background-color: #Ff7c00;
}

.flex-box5{
    width: 100%;
    height: 60%;
    background-color: red;
}

.flex-box6{
    width: 100%;
    height: 60%;
    background-color:  #4e4f46;
}

.flex-box7{
    width: 100%;
    height: 100%;
    background-color: teal;
}

.flex-box8{    
    width: 100%;
    height: 100%;
    background-color: maroon;
}

.flex-box9{    
    width: 100%;
    height: 100%;
    background-color: royalblue;
}

.flex-box10{    
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

.icon{
    width: 40px;
    height: 40px;
}